{% extends 'main/base.html' %}
{% load static %}
{% load main_filters %}

{% block title %}
Notehub
{% endblock %}

{% block body %}
<style>
    .full-height-container {
        height: 100%;
        background-image: url('{% static "background/background-index.jpg" %}');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<script>
    $(document).ready(function() {
        function send_code(){
            const email = $('#user_email_input').val();

            $.ajax({
                url: '{% url "send-code" %}',
                type: 'POST',
                data: {
                    'email': email,
                },
                success: function(response) {
                    alert(response.message);
                    if(response.success){
                        $("#ver-code-component").show();
                        $('#email-input-component').hide();
                        $("#resend-btn-component").hide();
                    }
                },
                error: function(xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        }

        $('#password-change-form').on('submit', function(event) {
            const password = $('#password').val();
            const confirmPassword = $('#cpassword').val();

            // Validate password
            if(password !== confirmPassword){
                alert('Passwords do not match!');
                event.preventDefault();
                return;
            }
        });

        $('#send_code_btn').click(send_code);
        $('#resend_code_btn').click(send_code);

        $('#validate_code_btn').click(function() {
            const email = $('#user_email_input').val();
            const verif_code = $('#verification_code_input').val();
            $.ajax({
                url: '{% url "validate-code" %}',
                type: 'POST',
                data: {
                    'email': email,
                    'code': verif_code
                },
                success: function(response) {
                    alert(response.message);
                    if(response.success){
                        $("#ver-code-component").hide();
                        $("#resend-btn-component").hide();
                        $('#password1-component').show();
                        $('#password2-component').show();
                        $('#submit-btn-component').show();
                    }
                    else if(response.message.includes("expired")){
                        $('#verification_code_input').val('');
                        $("#resend-btn-component").show();
                    }
                },
                error: function(xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        });
    });
</script>
</script>
<div class="full-height-container">
    <div class="centered-element" style="background: none;">
        <form class="form" method="post" action="{% url 'update-password' %}" id="password-change-form">
            <h1 class="p-2">Set Password</h1>
            {% csrf_token %}
            <div class="input-group p-2" id="email-input-component">
                <input type="email" class="form-control" id="user_email_input" name="email" aria-describedby="send_code_btn" placeholder="Enter your Email Address..." required>
                <button class="btn btn-outline-dark" type="button" id="send_code_btn">Send Code</button>
            </div>
            <div class="input-group p-2" id="ver-code-component" style="display: none;">
                <input type="text" class="form-control" id="verification_code_input" aria-describedby="validate_code_btn" placeholder="Enter Code...">
                <button class="btn btn-outline-dark" type="button" id="validate_code_btn">Validate Code</button>
            </div>
            <div class="form-group p-2" id="resend-btn-component" style="display: none;">
                <button class="btn btn-dark" type="button" id="resend_code_btn" style="width: 100%;">Resend Code</button>
            </div>
            <div class="form-group p-2" id="password1-component" style="display: none;">
                <input type="password" class="form-control" placeholder="Your Password..." id="password" name="password" required>
            </div>
            <div class="form-group p-2" id="password2-component" style="display: none;">
                <input type="password" class="form-control" placeholder="Confirm Password..." id="cpassword" name="cpassword" required>
            </div>
            <div class="form-group p-2" id="submit-btn-component" style="display: none;">
                <button class="btn btn-dark" type="submit" style="width: 100%;">Update Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}